[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pylast = "*"
pytube = "*"
python-dotenv = "*"
blob = "*"
telethon = "*"
pysmartdl = "*"

[dev-packages]

[requires]
python_version = "3.9"
