[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pylast = "*"
pytube = "*"
python-dotenv = "*"
blob = "*"
telethon = "*"
pysmartdl = "*"
emoji = "*"
bs4 = "*"
urbandict = "*"
googletrans = "*"
apiclient = "*"
covid = "*"
pillow = "*"
gtts = "*"
httplib2 = "*"
aiohttp = "*"
hachoir = "*"
selenium = "*"
humanize = "*"
google-images-download = "*"
pybase64 = "*"
speedtest = "*"
coffeehouse = "*"
sqlalchemy = "*"
wikipedia = "*"
psycopg2 = "*"
telegraph = "*"
spamwatch = "*"
pytz = "*"
pylyrics = "*"
pygments = "*"
borg = "*"
tgbot = "*"
python-barcode = "*"
google-api-python-client = "*"
aria2p = "*"
justwatch = "*"
command = "*"
aiofiles = "*"
python-git = "*"
python-magic = "*"
spotdl = "*"
youtube-search-python = "*"
glitch-this = "*"

[dev-packages]

[requires]
python_version = "3.9"
