[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
image = "*"
oauth2client = "*"
pip = "*"
justwatch = "*"
wget = "*"
pygit = "*"
pygithub = "*"
gitpython = "*"
psycopg2-binary = "*"
asyncurban = "*"
qrcode = "*"
glitch-this = "*"
githubpy = "*"
gitpy = "*"
gcg = "*"

[dev-packages]

[requires]
python_version = "3.9"
