a-pytube-fork-for-spotdl-users==9.6.4
aiofiles==0.6.0
aiohttp==3.7.2
appdirs==1.4.4
astroid==2.4.2
async-generator==1.10
async-timeout==3.0.1
asyncio==3.4.3
atomicwrites==1.4.0
attrs==20.3.0
base58==2.0.1
beautifulsoup4==4.9.3
bs4==0.0.1
bwb==3.0.0
CacheControl==0.12.6
cachetools==4.1.1
cachy==0.3.0
certifi==2020.11.8
cffi==1.14.3
cfscrape==2.1.1
chardet==3.0.4
cleo==0.8.1
click==7.1.2
clikit==0.6.2
coffeehouse==2.2.2
colorama==0.4.4
config==0.5.0.post0
covid==2.4.0
cowpy==1.1.0
crashtest==0.3.1
cryptg==0.2.post2
cryptography==3.2.1
decorator==4.4.2
Deprecated==1.2.10
distlib==0.3.1
distribution==1.0.0
dnspython==2.0.0
emoji==0.6.0
escape==1.1
filelock==3.0.12
flaky==3.7.0
Flask==1.1.2
geographiclib==1.50
geopy==2.0.0
gitdb==4.0.5
GitPython==3.1.11
google==3.0.0
google-api-core==1.23.0
google-api-python-client==1.8.0
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-images-download==2.8.0
googleapis-common-protos==1.52.0
googletrans==3.0.0
gsearch==1.6.0
gTTS==2.1.2
gTTS-token==1.1.4
h11==0.9.0
h2==3.2.0
hachoir==3.1.1
heroku==0.1.4
heroku3==4.2.3
hpack==3.0.0
hstspreload==2020.10.20
html5lib==1.1
HTMLParser==0.0.2
httpcore==0.9.1
httplib2==0.18.1
httpx==0.13.3
humanize==3.1.0
hyperframe==5.2.0
idna==2.10
importlab==0.5.1
iniconfig==1.1.1
iplookup==1.0.5
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==21.5.0
lazy-object-proxy==1.4.3
localconfig==1.1.3
lockfile==0.12.2
lxml==4.6.1
lyricsgenius==2.0.2
MarkupSafe==1.1.1
mccabe==0.6.1
Mopidy==3.0.2
Mopidy-Iris==3.54.1
msgpack==1.0.0
mulpyplexer==0.8
multidict==5.0.0
mutagen==1.45.1
networkx==2.5
ninja==1.10.0.post2
numpy==1.19.4
oauth2client==4.1.3
oauthlib==3.1.0
packaging==20.4
pastel==0.2.1
pexpect==4.8.0
Pillow==8.0.1
pipenv==2020.11.15
pkginfo==1.6.1
pluggy==0.13.1
poetry==1.1.4
poetry-core==1.0.0
protobuf==3.13.0
psycopg2-binary==2.8.6
ptyprocess==0.6.0
py==1.9.0
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybase64==1.0.2
pycparser==2.20
pydantic==1.7.2
pyfiglet==0.8.post1
PyGithub==1.53
PyJWT==1.7.1
Pykka==2.0.2
pylast==4.0.0
pylev==1.3.0
pylint==2.6.0
PyLyrics==1.1.0
pymongo==3.11.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyshorteners==1.0.1
pySmartDL==1.3.4
pyTelegramBotAPI==3.7.3
pytesseract==0.3.6
pytest==6.1.2
python-barcode==0.13.1
python-dateutil==2.6.0
python-dotenv==0.15.0
python-magic==0.4.18
pytube @ git+https://github.com/Starkgangs/pydl.git@c1cc3928119797af9ecb799d8ed06981a014281c
pytz==2020.4
pywin32-ctypes==0.2.0
PyYAML==5.3.1
qrcode==6.1
rapidfuzz==0.12.5
regex==2020.10.28
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rsa==4.6
scipy==1.5.4
search-engine-parser==0.6.2
selenium==3.141.0
shellingham==1.3.2
six==1.15.0
smmap==3.0.4
sniffio==1.2.0
soupsieve==2.0.1
speedtest-cli==2.1.2
spotdl==3.1.4
spotipy==2.16.1
SQLAlchemy==1.3.20
telegram==0.0.1
telegraph==1.4.1
telethon==1.17.5
toml==0.10.2
tomlkit==0.7.0
tornado==6.1
tqdm==4.51.0
tracestack==0.2.4
tswift==0.7.0
typed-ast==1.4.1
typer==0.3.2
typing-extensions==3.7.4.3
ujson==4.0.1
urbandict==0.6.1
uritemplate==3.0.1
urllib3==1.25.11
utils==1.0.1
validators==0.18.1
virtualenv==20.1.0
virtualenv-clone==0.5.4
webencodings==0.5.1
Werkzeug==1.0.1
wget==3.2
wikipedia==1.4.0
wrapt==1.12.1
yarl==1.6.2
youtube-dl==2020.11.1.1
youtube-search==1.1.1
youtube-search-python==1.3.1
telethon==1.17.5
